{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "eslint:recommended",
    "next",
    "prettier"
  ],
  "settings": {
    "jest": {
      "version": 27
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["prettier", "jest"],
  "ignorePatterns": [
    "/build/*",
    "/coverage/*",
    "/dist/*",
    "/libs/*",
    "node_modules"
  ],
  "rules": {
    "no-unused-vars": "error",
    "prettier/prettier": "error"
  }
}
