{
  "plugins": [
    "stylelint-scss",
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-standard-scss",
    "stylelint-config-prettier-scss",
    "stylelint-prettier/recommended"
  ],
  "ignoreFiles": [
    ".husky",
    ".next",
    ".storybook",
    ".vscode",
    "coverage",
    "documents",
    "node_modules",
    "public"
  ],
  "rules": {
    "prettier/prettier": true,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen"
        ]
      }
    ],
    "declaration-block-trailing-semicolon": "always",
    "declaration-block-semicolon-newline-after": "always",
    "block-closing-brace-empty-line-before": "never",
    "no-descending-specificity": null,
    "indentation": 2
  }
}
